@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mainContainerHeader {
    /* background-color: #b10202; */
    width: 55%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

header {
    /* background-color: aquamarine; */
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.titleMain {
    width: 90%;
    font-size: 24px;
    text-transform: uppercase;
}

svg {
    width: 30px;
}

.containerDosCalculos {
    height: 400px;
    /* background-color: aqua;
    padding: 10px; */
    display: flex;
    align-items: flex-start;
}

.containeronversao,
.containerResultado {
    width: 50%;
}

.containerConversao {
    background-color: #F5F1E8;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.233);

    position: relative;
}

button {
    position: absolute;
    bottom: 20px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    background-color: #056CF2;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.404);
    color: white;

    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.containerTextoSelecao,
.containerTextoResultado {
    display: flex;
    align-items: center;
}

.containerResultado {
    background-color: #056CF2;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.233);

    position: relative;
}

.paragraphDeConversao {
    width: 50%;
    font-weight: 500;
}

.paragraphDeResultado {
    width: 50%;
    color: white;
    font-weight: 500;
}

select {
    width: 35%;
}

.selectDeConversao {
    background-color: #056CF2;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    width: 50%;

    /* Resete da aparencia do select */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Adicionando a setinha nova  */
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='16' viewBox='0 0 20 20' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M5 7l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.selectDeConversao:focus {
    outline-color: #F5F1E8;
}

.selectDeResultado {
    background-color: #F5F1E8;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    width: 50%;
}

.selectDeResultado:focus {
    outline-color: #056CF2;
}

.containerDoValorDigitadoConversao {
    display: flex;
    flex-direction: row;
}

.cifraoConversao {
    font-size: 30px;
    font-weight: 200;
}

.cifraoConversaoResultado {
    font-size: 38px;
    font-weight: 300;
    color: white;
}

.resultadoExibido {
    color: white;
    font-size: 32px;
    font-weight: 300;
    padding: 3px;
    /* border-bottom: 1px solid white; */
}

.valorDigitadoConversao {
    font-size: 18px;
    font-weight: 300;
    width: 90%;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #056CF2;
    background-color: #F5F1E8;

}

.valorDigitadoConversao:focus {
    outline: none;
}

/* Chrome, Edge, Safari, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.containerDoValorDigitadoResultado {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}


.linkPessoal {
    color: white;
    font-size: 12px;
    opacity: 0.8;

    position: absolute;
    bottom: 20px;
    right: 25px;
}

span {
    color: red;
}

a {
    color: rgb(0, 255, 234);
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 300;
}

footer {
    text-align: center;
}