@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #E33FB1;
    background: radial-gradient(circle, rgba(227, 63, 177, 2) 0%, rgba(77, 29, 121, 1) 23%, rgba(56, 30, 96, 1) 64%, rgba(23, 25, 53, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100vh;
}

main {
    background-color: #24243F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(255, 100, 255, 0.2);;
}

.containerMinutos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p {
    width: 40%;
    text-align: center;
    margin-top: -15px;
}

h1 {
    color: aliceblue;
    font-size: 100px;
    text-align: center;
    width: 100%;

    background: linear-gradient(90deg, #ff5acd, #8a7cff, #4fd1ff);
    -webkit-background-clip: text;  /* O fundo (background) só deve aparecer onde tem texto */
    -webkit-text-fill-color: transparent; /* A cor do texto é transparente */

    text-shadow: 0 0 30px rgba(255, 100, 255, 0.2);
}

.minutos, .segundos {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    opacity: 0.6;

}

.minutos {
    color: #DB65E1;
    text-shadow: 0 0 90px rgba(255, 100, 255, 0.747);
    padding-left: 10px;

}

.segundos {
    color: #70ADFF;
    padding-right: 10px;
}

.ms {
    color: #759DD3;
    font-size: 24px;
    font-weight: 300;
    margin-top: 25px;
    width: 100%;
}

