@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #F4F7FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

main {
    padding: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.034);
    background-color: white;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.svgPrincipal {
    width: 15%;
    padding: 10px;
    border-radius: 15px;
    background-color: #b1bfa362;
}

h1 {
    font-size: 32px;
    font-weight: 500;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    color: #42424291;
    padding-bottom: 20px;
}

.containerInputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.textMin,
.textMax {
    font-size: 14px;
}

input[type=number] {
    background-color: #f3f3f5;
    border-radius: 5px;
    border: none;
    padding: 20px;
    font-size: 14px;
}

::-webkit-input-placeholder {
    color: #4242425e;
}

input:focus {
    outline-color: #CFCFCF;
}

.resultadoExibido {
    width: 100%;
    height: 170px;
    background-color: #b1bfa33a;
    color: #758C65;
    border-radius: 20px;
    font-size: 75px;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.textoFlutuante {
    color: #97a38b7c;
    text-align: center;
    font-size: 18px;
    display: block;
}

.buttonSortear {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #b1bfa3;
    color: white;
    box-shadow: 0px 2px 10px #b1bfa3;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    transition: transform 0.6s ease;

}

.buttonSortear:hover {
    background-color: #acb99f;
    transform: scale(1.1);
    cursor: pointer;
}

.svgButton {
    width: 5%;
}

.numeroSorteado {
    display: none;
}

.textoNumeroSorteado {
    display: none;
    font-size: 14px;
    color: #42424291;
    font-weight: 400;
}

