@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(0.25turn, #FAFAFA, #dadada);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main {
    background-color: white;
    padding: 30px 110px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.103);

    /* background-color: bisque; */
}

h1 {
    font-size: 48px;
    text-align: center;
    padding-bottom: 20px;
}

.buttons {
    /* background-color: aqua; */
    /* padding: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button {
    font-size: 40px;
    border-radius: 50px;
    padding: 10px;
    border: none;
    background-color: rgb(241, 241, 241);

    transition: transform 0.6s ease;
}


button:hover {
    transform: scale(1.12);
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(231, 231, 231);
}


hr {
  border: none;
  height: 2px;
  background-color: #d1d1d17e;
  width: 100%; 
  margin: 20px ; 

 /* Fazendo o HR pegar o padding que esta no container MAIN */
  width: calc(100% + 80px); /* 80px de cada lado */
  margin-left: -40px;
  margin-right: -40px;
}

.result {
    text-align: center;
}

.containerPoints {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.points {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pointUser, .pointComputer {
    font-weight: 700;
    font-size: 32px;
}

.textPoint {
    font-size: 16px;
    font-weight: 400;
    color: #8d8d8d8f;
}

.pointUser {
    color: red;
}

.pointComputer {
    color: blue;
}

.personalLink {
    font-size: 12px;
    color: #0000008f;
}

a {
    text-decoration: none;
    color: rgba(255, 0, 0, 0.562);
}

a:hover {
    text-decoration: underline;
    color: red;
}

span {
    color: red;
}