/* Desktop */
@media (max-width: 1380px) {

    main {
        width: 55%;
    }

}


@media (max-width: 660px) {

    h1 {
        font-size: 24px;
    }

    .subTexto {
        font-size: 14px;
        font-weight: 500;
    }

    main {
        width: 80%;
    }

    .cardsProjetos {
        position: relative;
    }


    svg {
        position: absolute;
        right: 30px;
        bottom: 110px;
    }

    h2 {
        font-size: 18px;
    }

    a {
        text-decoration: none;
    }

    a:visited {
        color: black;
    }


}