/* Desktop */
@media (max-width: 1380px) {
    body {
        background-color: brown;
    }

    main {
        width: 55%;
    }

}



@media (min-width: 769px) and (max-width: 1190px) {
    body {
        background-color: blue;
    }

}



@media (max-width: 660px) {
    body {
        background-color: rgb(255, 0, 191);
    }

    h1 {
        font-size: 24px;
    }

    .subTexto {
        font-size: 14px;
        font-weight: 500;
    }

    main {
        width: 80%;
    }

    .cardsProjetos {
        position: relative;
    }


    svg {
        position: absolute;
        right: 30px;
        bottom: 110px;
    }

    h2 {
        font-size: 18px;
    }

    .titleProjetos {
        
    }

}